[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
openai = "*"
mypy = "*"
flask-cors = "*"
mongo-types = "*"
boto3 = "*"
botocore-stubs = "*"
boto3-stubs = {extras = ["essential"], version = "*"}
flask-mongoengine = "*"
flask = "==2.2.5"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"
