[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
openai = "*"
mypy = "*"
flask-cors = "*"
mongoengine = "*"
mongo-types = "*"
boto3 = "*"
botocore-stubs = "*"
boto3-stubs = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"
